<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        
    <title>The Databank</title>
  </head>
  <body>

    <header class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">
	  The Databank
	</a>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
	<div class="col-sm-8 offset-sm-2">
	  <div class="card">
	    <h5 class="card-header">Your relations</h5>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table">
		  <thead>
		    <tr>
		      <th>User (ID)</th>
		      <th>Relation</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for relation in relations %}
		    <tr>
		      <td>{{ relation[1] }} ({{ relation[2] }})</td>
		      <td>{{ relation[3] }}</td>
		      <td><a href="/relations/delete?id={{ relation[0] }}">Delete</a></td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	      </div>
	    </div>
	    <div class="card-header">Add new relation</div>
	    <div class="card-body">
	      <div class="card-text">
		<form action="/relations/add" method="post">
		  <div class="form-group">
		    <label for="name">User</label>
		    <input type="text" class="form-control {% if user_not_found %}is-invalid{% endif %}" id="name_id" name="name" value="{{ user }}">
		    {% if user_not_found %}
		    <div class="invalid-feedback">
		      This user does not exist.
		    </div>
		    {% endif %}
		  </div>
		  <div class="form-group">
		    <label for="relation">Relation</label>
		    <input type="text" class="form-control" id="relation_id" name="relation" value="{{ relation }}">
		  </div>
		  <button type="submit" class="btn btn-primary">Add relation</button>

		</form>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
